<%= link_to "新增任務", new_task_path %>
<% @tasks.each do |t| %>
  <div>
    <%= t.name %>
    <%= t.content %>
    <%= t.finish_time %>
  </div>
  <span><%= link_to "修改", edit_task_path(t) %><%= link_to "刪除", task_path(t), method: "delete", data: { confirm: "確定刪除?"} %></span>
<% end %>
<%= flash[:notice] %>
