<!-- Page Content -->
<div class="container">
  <%= form_tag("/", method: "get") do %>
    <%= select_tag(:order_by, options_for_select([["任務建立時間", "created_at"], ["任務結束時間", "finish_time"], ["優先順序", "priority"]], @order_by)) %>
    <%= select_tag(:order_time, options_for_select([["最新/最高", "desc"], ["最舊/最低", "asc"]], @order_time)) %>
    <%= select_tag(:state, options_for_select([["待處理", "pending"], ["進行中", "processing"], ["完成","finish"]], @state)) %>
    <%= label_tag(:q, "關鍵字:") %>
    <%= text_field_tag(:q, @q) %>
    <%= submit_tag("尋找", class: "btn btn-info") %>
  <% end %>
  <% @tasks.each do |task| %>
    <div class="card">
      <h5 class="card-header"><%= task.name %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= task.finish_time %></h5>
        <p class="card-text"><%= task.content %></p>
        <span><%= link_to "修改", edit_task_path(task) %><%= link_to "刪除", task_path(task), method: "delete", data: { confirm: "確定刪除?"} %></span>
        <span class="badge badge-primary"><%= I18n.t(task.state) %></span>
        <span class="badge badge-primary"><%= I18n.t(task.priority) %></span>
        <% task.tag_list.split(",").each do |tag| %>
          <span class="badge badge-primary"><%= tag %></span>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @tasks %>
  <%= flash[:notice] %>
</div>
<!-- /.container -->
