<%= link_to "新增任務", new_task_path %>
<%= form_tag("/", method: "get") do %>
  <%= select_tag(:order_by, options_for_select([['任務建立時間', "created_at"], ['任務結束時間', "finish_time"]], @order_by)) %>
  <%= select_tag(:order_time, options_for_select([['最新', "desc"], ['最舊', "asc"]], @order_time)) %>
  <%= submit_tag("排序") %>
<% end %>
<% @tasks.each do |t| %>
  <div>
    <%= t.name %>
    <%= t.content %>
    <%= t.finish_time %>
  </div>
  <span><%= link_to "修改", edit_task_path(t) %><%= link_to "刪除", task_path(t), method: "delete", data: { confirm: "確定刪除?"} %></span>
<% end %>
<%= flash[:notice] %>
