<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <%= link_to "just do", tasks_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "新增任務", new_task_path, class: "nav-link"  %>
        </li>
        <% if logged_in? && admin?  %>
          <li class="nav-item">
            <%= link_to "管理後台", admin_users_path, class: "nav-link"  %>
          </li>
        <% end  %>
        <li class="nav-item">
          <% if logged_in? %>
            <%= link_to "#{current_user.user_name}/登出", session_path, method: :delete, class: "nav-link"  %>
          <% else %>
            <%= link_to "登入", login_path, class: "nav-link"  %>
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= image_tag current_user.avatar.variant(resize_to_limit: [50, 50]) if current_user.avatar.attached? %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
